.option_card {
  display: flex;
  flex-direction: row;
  border-top:    1px solid  #dbe6f6;
  border-bottom:    1px solid  #dbe6f6;
}
.option_card_selected {
  display: flex;
  flex-direction: row;
  border-top:    1px solid  #dbe6f6;
  border-bottom:    1px solid  #dbe6f6;
  background: blueviolet;
}